@use './typography';
@use './colors';

a {
  @include typography.typeface-2(p2, desktop);
  text-decoration: none;
  color: colors.$black-normal;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;

  &:hover {
    opacity: 0.9;
  }
}

.btn {
  background: linear-gradient(137.93deg, colors.$primary-normal 15.36%, colors.$secondary-normal 83.76%);
  border-radius: 16px;
  padding: 12px 32px;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;

  color: colors.$white-light;
  @include typography.typeface-2(p3, desktop);

  box-shadow: 0px 17px 17px rgba(107, 162, 246, 0.14), 0px 5.125px 5.125px rgba(107, 162, 246, 0.0912224),
    0px 2.12866px 2.12866px rgba(107, 162, 246, 0.07), 0px 0.769896px 0.769896px rgba(107, 162, 246, 0.0487776);

  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 17px 31px rgba(107, 162, 246, 0.28), 0px 5.125px 9.34559px rgba(107, 162, 246, 0.182445),
      0px 2.12866px 3.88168px rgba(107, 162, 246, 0.14), 0px 0.769896px 1.40393px rgba(107, 162, 246, 0.0975551);
  }
}

.link {
  display: inline-block;
  color: transparent;
  background: url('../svg/icon-arrow.svg'), linear-gradient(137.93deg, #6ba2f6 15.36%, #736efe 83.76%);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: padding-box, text;
  background-position: 0% 50%;
  font-size: 18px;
  font-weight: 600;

  padding: 16px 16px 16px 40px;

  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;

    top: 75%;
    left: 56px;

    width: 0%;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s ease;
    -moz-transition: 0.5s ease;

    background-image: linear-gradient(137.93deg, #6ba2f6 15.36%, #736efe 83.76%);
  }

  &:hover {
    opacity: 0.8;
    padding-left: 64px;
    background-position: 8px 50%;

    &::after {
      width: 100%;
    }
  }
}
