//Colors

//Brand Colors
$primary-normal: #6ba2f6;
$primary-light: #86b4fb;
$primary-dark: #5c8dd9;

$secondary-normal: #736efe;
$secondary-light: #8c88ff;
$secondary-dark: #635edf;

//Neutral Colors
$black-normal: #222324;
$black-light: #343536;
$black-dark: #161717;

$white-normal: #f5f9fd;
$white-light: #fbfdff;
$white-dark: #ebedf0;

//Gray Scale
$gray-1: #444546;
$gray-2: #545556;
$gray-3: #656566;
$gray-4: #757576;
$gray-5: #858687;
$gray-6: #959697;
$gray-7: #a6a7a7;

//Auxiliary Colors
$red-normal: #eb3d3d;
$red-light: #f05454;
$red-dark: #d03333;

$green-normal: #32d957;
$green-light: #50e170;
$green-dark: #28bb49;

$yellow-normal: #ffce52;
$yellow-light: #ffd76b;
$yellow-dark: #d9b043;
